/Kore
/build
/Deployment/painter-colored.frag
/Deployment/painter-colored.vert
/Deployment/painter-image.frag
/Deployment/painter-image.vert
/Deployment/painter-text.frag
/Deployment/painter-text.vert
/Deployment/painter-video.frag
/Deployment/painter-video.vert